<?xml version="1.0" encoding="UTF-8"?>
<Enviroment>
    <Browser>Chrome</Browser>
    <Url>https://www.saucedemo.com/</Url>
    <PathScreenShot>E:\Automation\AutomationFinalProject\TestFailureScreenShot</PathScreenShot>
    <DriversName>
        <driver1>driver</driver1>
    </DriversName>
</Enviroment>